@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 13%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 56%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 75% 56%;
    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 0 0% 71%;
    --chart-1: 30 100% 50%;
    --chart-2: 188 94% 40%;
    --chart-3: 240 64% 27%;
    --chart-4: 84 100% 63%;
    --chart-5: 60 100% 50%;
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 0 0% 13%;
    --sidebar-primary: 0 0% 13%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 97%;
    --sidebar-accent-foreground: 0 0% 13%;
    --sidebar-border: 0 0% 92%;
    --sidebar-ring: 0 0% 71%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 92%;
    --primary-foreground: 0 0% 13%;
    --secondary: 0 0% 27%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 71%;
    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 94% 45%;
    --border: 255 255 255 / 10%;
    --input: 255 255 255 / 15%;
    --ring: 0 0% 56%;
    --chart-1: 267 100% 50%;
    --chart-2: 280 96% 28%;
    --chart-3: 240 92% 38%;
    --chart-4: 200 100% 46%;
    --chart-5: 180 88% 48%;
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 0 0% 13%;
    --sidebar-primary: 0 0% 92%;
    --sidebar-primary-foreground: 0 0% 13%;
    --sidebar-accent: 0 0% 27%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 92%;
    --sidebar-ring: 0 0% 71%;
  }
}
